body {
  font-family: 'Grenze', serif;
  margin: 0;
}

h1 {
  font-family: 'Grenze', serif;
  color: black;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  color: black;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;

}

h3 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  margin-top: 100px;
  margin-bottom: 5;
}

h4 {
  text-align: center;
  font-size: 32px;
}

p {
  text-align: center;
}

.so-white {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.main-center {
  position: fixed;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}

.main-subtitle {
  font-family: arial;
  font-size: 24px;
  margin-bottom: 15px;
}

.main-title {
  font-family: 'Libre Caslon Display', serif;
  width: 450px;
  font-size: 72px;
  margin-top: 0;
  margin-bottom: 15px;
}

.main-name {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 45px;
}

.main-button-black {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin-right: 10px;
    text-decoration: none;
    background: black;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.main-button-white {
    display: inline-block;
    border: 2px solid black;
    padding: 1rem 2rem;
    margin-left: 10px;
    text-decoration: none;
    background: white;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.main-button:hover,
.main-button:focus {
    background: #0053ba;
}

.main-button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.main-button:active {
    transform: scale(0.99);
}

.bio {
  font-family: 'Lato', sans-serif;
  margin: 15px;
  color: #2f1847;
  font-size: 18px;
  line-height: 30px;
}

.me {
  height: 250px;
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
  margin-top: 50px;
}

.intro {
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grey {
  height: 3px;
  background-color: #54575c;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about {
  background: url('blanket-white.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 780px;
}

.clear {
  clear: both;
}

.icons {
  text-align: center;
  margin-bottom: 30px 0;
}

.icon {
  margin: 30px 0;
}

.item {
  color: black;
  font-size: 18px;
}

.project h3 {
  font-size: 36px;
  text-align: left;
  padding-left: 7%;
  padding-top: 5%;
}

.project p {
  font-size: 16px;
  text-align: left;
  padding-left: 7%;
}

.project-whole {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 40%;
  padding-top: 4%;
  text-align: left;
}

.project-item {
  width: 40%;
  margin: 3%;
  height: 100%;
}

#project-id-1 {
  background-color: #F0FCF8;
}

#project-id-2 {
  background-color: #F0E2F3;
}

#project-id-3 {
  background-color: #E2E2F0;
}

#project-id-4 {
  background-color: #FAFCD9;
}

.project-title {
  margin-top: 8%;
  margin-left: 8%;
  height: 10%;
  font-size: 24px;
}

.project-logo {
  position: absolute;
  padding-left: 32%;
}

.project-logo i {
  margin-left: 5px;
}


.project-des {
  font-size: 16px;
  margin-top: 3%;
  margin-left: 8%;

}


.project-img {
  margin-top: 10%;
  text-align: center;
  height: 60%;
  width: 75%;
}

.project-img img {
  display: fixed;
  height: 100%;
  width: 100%;
  margin-left: 16%;
  margin-bottom: 0px;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
}

.contact-box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contact-pic {
  position: fixed;
  margin: 5%;
  margin-top: 0%;
}

.contact-item img {
  max-width: 100%;
  height: auto;
}

.contact-item {
  position: fixed;
  margin-left: 55%;
}

#contact-info {
  padding-top: 10%;
  text-align: left;
  font-family: 'Times New Roman';
}

.contact-item h3 {
  font-size: 46px;
  font-family: 'Times New Roman';
  text-align: left;
}

.contact-item p {
  text-align: left;
}

.contact-des {
  padding-top: 3%;
  text-align: left;
  font-size: 18px;
  width: 80%;
}

.email {
  padding-top: 8%;
  font-size: 20px;
  font-weight: bold;
}

.email-add {
  font-size: 18px;
}

.other-contacts {
  padding-top: 8%;
  font-size: 20px;
  font-weight: bold;
}

.social-items {
  padding-top: 2%;
  font-size: 18px;
}

.full-width {
  width: 100%;
}

.lan-and-tools {
  margin-top: 50px;
  margin-bottom: 50px;
}

.skills-and-tools {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.resume iframe {
  width: 300;
  height: 500;
}

